@import url(/css/header.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
}

header {
    width: 100%;
    justify-content: start;
}


.container-acesso-negado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.container-acesso-negado img {
    width: 900px;
    height: 900px;
    mix-blend-mode: darken;
}

span {
    font-size: 36px;
    font-weight: bold;

}

button {

    background-color: #4A81E0;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #4CAF50;
}