@import url(header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #e9e9e9;
    height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content-titulo {
    width: 970px;

}

h1 {
    margin-bottom: 10px;
}

.form-container {
    width: 970px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #373A40;
    font-weight: 600;
    font-size: 0.9em;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    padding: 1.1em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.form-group button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#session-timer {
    /* position: fixed;
    top: 15px;
    left: 77%; */
    /* transform: translateX(-50%); */
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.container {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex: 1;
}

.content {
    width: 100%;
    padding: 20px;
    height: auto;
}

.content h1,
h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 6px;
}

#vagas-container {
    max-width: 800px;
    margin: 0 auto;
}

#vagas-container h2 {
    margin-top: 20px;
}

.sidebar {
    height: auto;
    width: 250px;
    background-color: #1F4B99;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    width: 170px;
    padding: 15px;
    border: 1px solid #4A81E0;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #4A81E0;
    color: white;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-modal {
    display: none;
}
.modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content-senha {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 640px;
    width: 100%;
    /* Para se ajustar em telas pequenas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-span {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-bottom: 5px;
    
}

.close {    
      
    font-size: 2em;
    cursor: pointer;
    color:red ;
}

.fundo-branco {
    background-color: white;
}
