@import url(header.css);
@import url(/main.css);
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
}

header {
    justify-content: start;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 85vh;
}

.modal-content {
    margin-top: 20px;
    background-color: white;
    width: 100%;
}

#modal-container-usuario {
    margin-top: 15px;
}

.container {
    display: flex;
}

#login {
    width: 40%;
    box-shadow: 0 0 5px #cacaca;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.area-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    background-color: #0085ff;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

.alterar {
    background-color: #2A4D77;
}
.alterar:hover {
    background-color: #3d5879;
}

button:hover {
    background-color: #0065d2;
}

#cadastro {
    text-align: center;
    margin-top: 50px;
    font-size: 1.1em;
}

p a {
    text-decoration: none;
    color: #3e81d8;
}

.cancelar {
    background-color: #e74444;
}
.cancelar:hover {
    background-color: #d63333;
}

.content-senha {
    display: flex;
    position: relative;
    
}

.content-senha img {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#erroSenhaAtualizar {
    color: red;
    font-weight: 500;
}

.correto {
    border: none;
}
.erro {
   border: 2px solid red;
}

.sidebar {
    height: auto;
    width: 250px;
    background-color: #1F4B99;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    width: 170px;
    padding: 15px;
    border: 1px solid #4A81E0;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #4A81E0;
    color: white;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#senhaAtual, #novaSenha, #re-novaSenha {
    outline: none;
    
}